

<a routerLink="/addexp">Add New Expense</a>

<h1>Expenses</h1>

<!-- <form (submit)="getdataonID()">
  <input type="text" name="mydata" [(ngModel)]="mydata" placeholder="Enter your search query">
  <button type="submit">Search</button>
</form> -->


<form (ngSubmit)="getdataonID()">
  <input type="text" name="query" [(ngModel)]="id" placeholder="Enter your search query">
  <button type="submit">Search</button>
  <p>{{ mydata | json}}</p>
</form>



<!-- <p [textContent]="mydata"></p> -->







<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Discription</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>{{ item.id }}</td>
      <td>{{ item.name }}</td>
      <td>{{ item.discription }}</td>
      <td>{{ item.rate }}</td>
    </tr>
  </tbody>
</table>



